In [9]:
import pandas
data = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [10]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [36]:
new_data = data[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']].dropna()
new_data['Sex'] = new_data['Sex'].map(lambda x: 1 if x == 'male' else -1)

In [38]:
new_data.head()

             Pclass     Fare   Age  Sex  Survived
PassengerId
1                 3   7.2500  22.0    1         0
2                 1  71.2833  38.0   -1         1
3                 3   7.9250  26.0   -1         1
4                 1  53.1000  35.0   -1         1
5                 3   8.0500  35.0    1         0

In [39]:
x_train = new_data[['Pclass', 'Fare', 'Age', 'Sex']]
y_train = new_data['Survived']

In [40]:
clf = DecisionTreeClassifier(random_state=241)
clf.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=241, splitter='best')

In [35]:
featuresAndResult = data[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']].dropna()
featuresAndResult.rename(columns={'Sex': 'SexString'}, inplace=True)
featuresAndResult['Sex'] = featuresAndResult['SexString'].map(lambda x: 1 if x == 'male' else -1)

features = featuresAndResult[['Pclass', 'Fare', 'Age', 'Sex']]
result = featuresAndResult['Survived']

classifier = DecisionTreeClassifier(random_state=241)
classifier.fit(features, result)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=241, splitter='best')

In [44]:
importance = clf.feature_importances_
print(importance)

[0.14000522 0.30343647 0.2560461  0.30051221]

In [43]:
feature_names = features.keys().values
print(feature_names)

['Pclass' 'Fare' 'Age' 'Sex']

In [50]:
important_features = sorted(zip(feature_names, importance), key=lambda x: x[1], reverse=True)
two_most_important = list(map(lambda x: x[0], important_features[:2]))

In [51]:
print(two_most_important)

['Fare', 'Sex']

In [52]:
print(important_features)

[('Fare', 0.3034364695314525), ('Sex', 0.30051221095823943), ('Age', 0.2560461009790662), ('Pclass', 0.1400052185312419)]